body {
    background-color: rgb(37, 35, 35);
}
#heading {
    text-align: center;
    margin-top: 60px;
    color: rgb(231, 231, 238);
    font-size: 36x;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    height: 659.64px;
    max-width: 569.27px;
    background-color: rgb(52, 48, 48);
    border-radius: 14px;
    border: 1px white inset;
}

#display {
    height: 100px;
    max-width: 550px;
    text-align: center;
    font-size: 75px !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(52, 48, 48);
    color: white;
    font-size: 90px;
    overflow: auto;
}

.buttonGrid {
    display: flex;
    width: 4500px;
    height: 300px;
    margin-top: 30px;
}

.numbersGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}
.numbersGrid #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #point, #plusMinus { 
    font-size: 70px;
    width: 150px;
    height: 120px;
    background-color: rgb(111, 108, 103);
    color: rgb(245, 239, 239);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.numbersGrid #plusMinus {
    font-size: 45px;
    border-bottom-left-radius: 14px;
}

.operators {
    display:flex;
    flex-direction: column;
}
.operators #divide, #multiply, #subtract, #add, #equals {
    font-size: 80px;
    width: 120px;
    height: 86.79px;
    background-color: orange;
    color: rgb(245, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.operators #clear {
    font-size: 35px;
    color: rgb(191, 82, 82) !important;
    text-align: center;
    background-color: orange;
    color: white;
    width: 120px;
    height: 90px;
    border-bottom-right-radius: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}